body{
    background-color: grey;
}

h1{
    color: white;
    transition: color 0.5s ease-in-out;
}

.clock {
    color white;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.clicked {
    color: #f5425a;
}

.js-form {
    display: none;
}

.greeting {
    text-align: center;
    color: pink;
    display: none;
}

.showing {
    display: block;
}
